<div id="promoCarousel" class="carousel slide mb-4" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://via.placeholder.com/1200x400" class="d-block w-100" alt="Promo 1" />
    </div>
    <div class="carousel-item">
      <img src="https://via.placeholder.com/1200x400" class="d-block w-100" alt="Promo 2" />
    </div>
  </div>
  <a class="carousel-control-prev" href="#promoCarousel" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#promoCarousel" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
