{% extends 'base.html' %} {% block title %}Home - My E-Commerce{% endblock %} {% block content %}
<div class="jumbotron text-center mb-4">
  <h1 class="display-4">Welcome to E-Commerce Store!</h1>
  <p class="lead">Discover amazing products at unbeatable prices.</p>
  <hr class="my-4" />
  <a class="btn btn-primary btn-lg" href="#" role="button">Register now</a>
</div>

<div class="row">
  <div class="col-md-3">{% include 'shop/_categories_list.html' %}</div>

  <div class="col-md-9">
    <div class="row">
      {% for product in last_added_products %} {% include 'shop/_product_card.html' %} {% empty %}
      <p>No products added yet.</p>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
